---
import Layout from "../../layouts/Layout.astro";
const works = await getCollection("work");
import type { Work } from "../../types";
import { getCollection } from "astro:content";
import WorkItem from "../../components/WorkItem.astro";
---

<Layout title="Astrofolio - Works">
    <div class="works__container">
        <h1>Works</h1>
        This is the page that shows all the works I've done.
        <div class="works__gallery__grid">
            {works.map((work: Work) => <WorkItem work={work} />)}
        </div>
    </div>
</Layout>
<style>
    .works__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .works__gallery__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 7rem;
        padding: 2rem 0;
    }
</style>
