---
import { getCollection } from "astro:content";
import Layout from "../../../layouts/Layout.astro";
const posts = (await getCollection("post")).filter((post) =>
    post.data.tags.includes(Astro.params.tag),
);
import BlogPostItem from "../../../components/BlogPostItem.astro";

export async function getStaticPaths() {
    return [
        {
            params: { tag: "Astro" },
        },
        {
            params: { tag: "Web Development" },
        },
        {
            params: { tag: "JavaScript" },
        },
        {
            params: { tag: "CSS" },
        },
    ];
}
---

<Layout title={`Blog - ${Astro.params.tag} articles`}>
    <section class="blog__container">
        <h1 class="blog__title">Blog - {Astro.params.tag} articles</h1>
        <p class="blog__description">
            Here you can find my articles about <b>{Astro.params.tag}</b>.
        </p>
        <div class="blog__posts">
            {posts.length > 0 ? (
                posts.map((post) => <BlogPostItem post={post} />)
            ) : (
                <p>No articles found for this tag.</p>
            )}
        </div>
    </section>
</Layout>

<style>
    .blog__container {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .blog__posts {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
</style>
