@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200..800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..900;1,100..900&display=swap");

@layer reset {
	html,
	body {
		box-sizing: border-box;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;
		padding: 0;
		font-weight: 800;
		line-height: 1.25;
	}
}

@layer base {
	:root {
		--bg-color: #eee;
		--fg-color: #112;
		background-color: var(--bg-color);
		color: var(--fg-color);
	}

	html {
		font-family: Outfit, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial,
			sans-serif;
		font-size: 16px;
		line-height: 1.5;
		color: #111827;
		scroll-behavior: smooth;
	}

	html:is(.dark) {
		--bg-color: #112;
		--fg-color: #eee;
	}

	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}

	html,
	body {
		overflow-x: hidden;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		line-height: 1.25;
	}

	h1 {
		font-size: 3em;
		font-weight: 900;
	}

	h2 {
		font-size: 2em;
	}

	h3 {
		font-size: 1.75em;
	}

	h4 {
		font-size: 1.5em;
	}

	h5 {
		font-size: 1.25em;
	}

	h6 {
		font-size: 1.15em;
	}

	p {
		margin: 0 0 1em;
	}

	a {
		color: #111827;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}

	ul {
		list-style-type: square;
		margin: 0 0 1em;
		padding: 0 0 0 1em;
	}

	code,
	pre {
		font-family: ui-monospace, "Victor Mono", "Source Code Pro", Menlo, Consolas,
			"DejaVu Sans Mono", monospace;
		font-weight: normal;
		background: linear-gradient(14deg, #d83333 0%, #f041ff 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		margin: 0;
	}
}
