---
import SVGComponent from "./SVGComponent.astro";
---
<theme-switcher>
    <button
        class="theme__switcher__btn"
        aria-label="Toggle theme"
    >
        <span class="theme__switcher__btn__icon icon__light">
            <SVGComponent name="sun" type="icon" width={24} height={24} />
        </span>
        <span class="theme__switcher__btn__icon icon__dark">
            <SVGComponent name="moon" type="icon" width={24} height={24} />
        </span>
    </button>
    <span class="theme__switcher__switch">&nbsp;</span>
</theme-switcher>

<style>
    .theme__switcher__container {
        user-select: none;
    }

    .theme__switcher__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5rem;
        outline: none;
        border: none;
        padding: 0;
        cursor: pointer;
        background-color: #eee;
        border: 1px solid #666;

        &:focus {
            outline: 2px solid var(--fg-color);
        }
    }

    .theme__switcher__btn__icon {
        padding: 0.25rem;
        border-radius: 100%;
        transition: all 0.2s ease-in-out;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .theme__switcher__switch {
        width: 32px;
        min-height: 32px;
        border-radius: 100%;
        background-color: #00a;
        margin-top: -2.05rem;
        display: block;
        transition: all 0.2s ease-in-out;
    }

    html:is(.dark) {
        .theme__switcher__btn__icon {
            &:nth-child(2) {
                fill: white;
            }
        }

        .theme__switcher__btn {
            box-shadow: 0 0 0.25rem #aaf;
        }

        .theme__switcher__switch {
            margin-left: 2.1rem;
        }
    }

    html:is(:not(.dark)) {
        .theme__switcher__btn__icon {
            &:nth-child(1) {
                fill: white;
            }
        }

        .theme__switcher__switch {
            margin-left: 0.1rem;
        }
    }
</style>
<script>
    class ThemeSwitcher extends HTMLElement {
        constructor() {
            super();
            this.btn = this.querySelector(".theme__switcher__btn");
            this.switcher = this.querySelector(".theme__switcher__switch");
            this.setTheme();
            this.btn.addEventListener("click", () => {
                this.toggleTheme();
            });
        }

        setTheme() {
            const html = document.querySelector("html");
            const isDark = window.matchMedia("(prefers-color-scheme: dark)").matches;

            if (!localStorage.getItem("Astrofolio-theme")) {
                localStorage.setItem("Astrofolio-theme", isDark ? "dark" : "light");
            }

            const theme = localStorage.getItem("Astrofolio-theme");

            if (theme === "dark") {
                html.classList.add("dark");
                this.switcher.classList.remove("hidden");
            } else {
                html.classList.remove("dark");
                this.switcher.classList.add("hidden");
            }
        }

        toggleTheme() {
            const html = document.querySelector("html");
            if (html.classList.contains("dark")) {
                html.classList.remove("dark");
                this.btn
                    .querySelector(".icon__light")
                    .classList.remove("hidden");
                this.btn.querySelector(".icon__dark").classList.add("hidden");
                this.switcher.classList.add("hidden");
                localStorage.setItem("Astrofolio-theme", "light");
            } else {
                html.classList.add("dark");
                this.btn.querySelector(".icon__light").classList.add("hidden");
                this.btn
                    .querySelector(".icon__dark")
                    .classList.remove("hidden");
                this.switcher.classList.remove("hidden");
                localStorage.setItem("Astrofolio-theme", "dark");
            }
        }
    }
    customElements.define("theme-switcher", ThemeSwitcher);
</script>
