---
const { items } = Astro.props;
import TimelineItemEducation from "./TimelineItemEducation.astro";
import type { EducationItem } from "../types";
---

<section class="timeline__container">
    <div class="timeline__vertical__line"></div>
    {
        items.map((item: EducationItem) => (
            <TimelineItemEducation item={item} />
        ))
    }
</section>

<style>
    .timeline__container {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: relative;
    }

    .timeline__vertical__line {
        position: absolute;
        margin: 1rem 0 0 1.9rem;
        /*width: 3px;*/
        height: -webkit-fill-available;
        background-color: #aae;

        @media (width <= 512px) {
            display: none;
        }
    }
</style>
