---
import SVGComponent from "./SVGComponent.astro";
---

<section class="works__container" id="works">
    <h1>Works</h1>
    <SVGComponent name="sun" type="icon" width={240} height={240} />
</section>

<style>
    .works__container {
    }
</style>
